/* PAGINA PRINCIPAL */
.tituloIndex {
  width: 100%;
  height: 100%;
}

.infoIndex {
  width: 100%;
  height: 100%;
}

.pruebaCarousel {
  grid-area: imgCarousel;
}

.tituloIndex {
  grid-area: tituloInicial;
}

.infoIndex {
  grid-area: infoBasic;
}

.pruebaCarousel img {
  width: 100%;
}

.cuerpo {
  padding: 0 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "imgCarousel" "tituloInicial" "infoBasic";
  justify-items: center;
}
.cuerpo div img {
  width: 100%;
}

/* FOOTER */
.footerClass {
  background-image: linear-gradient(to left, rgb(43, 25, 48), black);
  padding: 2rem;
  width: 100%;
}

.footerClass:hover {
  transition: background-image 3s;
}

.footerClass:hover {
  background-image: linear-gradient(to right, rgb(43, 25, 48), black);
}

footer p {
  font-size: large;
  font-weight: 300;
  color: aliceblue;
}

/* JUEGO DE LA SEMANA */
.bodySemana {
  font-size: large;
  font-weight: 300;
  font-family: sans-serif;
  color: black;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bodySemana div h2 {
  background-color: rgb(190, 190, 190);
  font-size: larger;
}
.bodySemana div h3 {
  margin: 10px;
  padding: 0 15% 0 15%;
}

.imgWeekgame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWeekgame div img {
  width: 100%;
  padding: 10px;
}

/* SECCION MULTIPLAYER */
.sectionMultiplayer div img {
  width: 100%;
}

.gamesInfo {
  font-size: larger;
  font-family: sans-serif;
  margin: 1rem;
  padding: 1rem;
}

.rocketLeague {
  grid-area: tituloRocket;
}

.rocketLeague_img {
  grid-area: imgRocket;
}

.rocketLeague_info {
  grid-area: infoRocket;
}

.fortnite {
  grid-area: tituloFortnite;
}

.fortniteImg {
  grid-area: imgFortnite;
}

.fortniteInfo {
  grid-area: infoFortnite;
}

.minecraft {
  grid-area: tituloMinecraft;
}

.minecraftImg {
  grid-area: imgMinecraft;
}

.minecraftInfo {
  grid-area: infoMinecraft;
}

.fifa {
  grid-area: tituloFifa;
}

.fifaImg {
  grid-area: imgFifa;
}

.fifaInfo {
  grid-area: infoFifa;
}

.lol {
  grid-area: tituloLol;
}

.lolImg {
  grid-area: imgLol;
}

.lolInfo {
  grid-area: infoLol;
}

.sectionMultiplayer {
  padding: 0 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "tituloRocket" "imgRocket" "infoRocket" "tituloFortnite" "imgFortnite" "infoFortnite" "tituloMinecraft" "imgMinecraft" "infoMinecraft" "tituloFifa" "imgFifa" "infoFifa" "tituloLol" "imgLol" "infoLol";
}

/* SECCION SINGLE PLAYER */
.sectionSingleplayer div img {
  width: 100%;
}

.skyrim {
  grid-area: tituloSkyrim;
}

.skyrim_img {
  grid-area: imgSkyrim;
}

.skyrim_info {
  grid-area: infoSkyrim;
}

.massEffectandromeda {
  grid-area: tituloMasseffectandromeda;
}

.massEffectandromeda_img {
  grid-area: imgMasseffectandromeda;
}

.massEffectandromeda_info {
  grid-area: infoMasseffectandromeda;
}

.guitarHero {
  grid-area: tituloGuitarhero;
}

.guitarHero_img {
  grid-area: imgGuitarhero;
}

.guitarHero_info {
  grid-area: infoGuitarhero;
}

.acValhalla {
  grid-area: tituloAcvalhalla;
}

.acValhalla_img {
  grid-area: imgAcvalhalla;
}

.acValhalla_info {
  grid-area: infoAcvalhalla;
}

.sectionSingleplayer {
  padding: 0 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "tituloSkyrim" "imgSkyrim" "infoSkyrim" "tituloMasseffectandromeda" "imgMasseffectandromeda" "infoMasseffectandromeda" "tituloGuitarhero" "imgGuitarhero" "infoGuitarhero" "tituloAcvalhalla" "imgAcvalhalla" "infoAcvalhalla";
}

/* MEDIA QUERIS  */
@media screen and (min-width: 600px) {
  .headerNav {
    width: 100%;
    height: 20vh;
    background-color: rgb(43, 25, 48);
    border: solid 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .banner {
    width: 20%;
    height: 100%;
    margin: 0;
  }
  header nav {
    height: 100%;
    width: 70%;
    margin-top: 8rem;
  }
  header ul {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 900px) {
  .sectionMultiplayer {
    padding: 0 1rem;
    margin: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    gap: 2rem;
    grid-template-areas: "tituloRocket    tituloRocket" "imgRocket       infoRocket" "imgRocket       infoRocket" "tituloFortnite  tituloFortnite" "imgFortnite     infoFortnite" "tituloMinecraft tituloMinecraft" "imgMinecraft    infoMinecraft" "tituloFifa      tituloFifa" "imgFifa         infoFifa" "tituloLol       tituloLol" "imgLol          infoLol";
  }
  .sectionSingleplayer {
    padding: 0 1rem;
    margin: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    gap: 2rem;
    grid-template-areas: "tituloSkyrim               tituloSkyrim" "imgSkyrim                  infoSkyrim" "imgSkyrim                  infoSkyrim" "tituloMasseffectandromeda  tituloMasseffectandromeda" "imgMasseffectandromeda     infoMasseffectandromeda" "imgMasseffectandromeda     infoMasseffectandromeda" "tituloGuitarhero           tituloGuitarhero" "imgGuitarhero              infoGuitarhero" "imgGuitarhero              infoGuitarhero" "tituloAcvalhalla           tituloAcvalhalla" "imgAcvalhalla              infoAcvalhalla" "imgAcvalhalla              infoAcvalhalla";
  }
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(225, 225, 225);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.headerNav {
  width: 100%;
  height: 70vh;
  background-color: rgb(43, 25, 48);
  border: solid 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 1rem;
}

header nav {
  height: 100%;
  margin-top: 2rem;
}
header ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  list-style: none;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.titulosJuegos, .sectionMultiplayer div, .sectionSingleplayer div {
  font-size: large;
  font-weight: 300;
  font-family: sans-serif;
  color: rgb(31, 0, 49);
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(190, 190, 190);
}/*# sourceMappingURL=styles.css.map */