/* FOOTER */
.footerClass{
    background-image: linear-gradient(to left,rgb(43, 25, 48), black );
    padding: 2rem;
    width: 100%;
  

    
}

.footerClass:hover{
    transition: background-image 3s;
    
}

.footerClass:hover{
    background-image: linear-gradient(to right,rgb(43, 25, 48), black );
}


footer p{
    font-size: large;
    font-weight: 300;
    color: aliceblue;
}
