$fondoweb: rgb(225, 225, 225);
$fondotitulos: rgb(190, 190, 190);
$colortitulos: rgb(31, 0, 49);

@import "paginaPrincipal";
@import "footer";
@import "juegoSemanal";
@import "multijugador";
@import "unJugador";
@import "mediaQueris";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: $fondoweb;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  
}
.headerNav{
    width: 100%;
    height: 70vh;
    background-color: rgb(43, 25, 48);
    border: solid 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 1rem;

}


header{
    nav{
        height: 100%;
        margin-top: 2rem;
    }

    ul{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }

} 


li{
    list-style: none;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: sans-serif;
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.titulosJuegos{
    font-size: large;
    font-weight: 300;
    font-family: sans-serif;
    color: $colortitulos;
    margin: 1rem;
    padding: 0.5rem;
    background-color: $fondotitulos;
}

@mixin sizes ($margin, $padding){
    margin: $margin;
    padding: $padding;
}





